src/main/resources/portnet/vesseldetails/PortnetTypes.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ptns="http://portnet.fi/PortnetWS/PortnetTypes"
            targetNamespace="http://portnet.fi/PortnetWS/PortnetTypes"
            elementFormDefault="qualified">
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
            <xsd:element name="Status">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="OK"/>
                        <xsd:enumeration value="NOT_FOUND"/>
                        <xsd:enumeration value="INVALID_REQUEST"/>
                        <xsd:enumeration value="SERVICE_ERROR"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Reference" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Header">
        <xsd:sequence>
            <xsd:element name="responseType" type="ptns:ResponseType"/>
        </xsd:sequence>
        <xsd:attribute name="Version" type="xsd:string" use="required"/>
        <xsd:attribute name="SentAt" type="xsd:dateTime" use="required"/>
        <xsd:attribute name="From" type="xsd:string" use="required"/>
        <xsd:attribute name="lang" type="ptns:lang" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="VesselDetails">
        <xsd:sequence>
            <xsd:element name="IdentificationData">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="vesselId" type="xsd:integer" use="required"/>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="namePrefix" type="xsd:string"/>
                    <xsd:attribute name="radioCallSign" type="xsd:string" use="required"/>
                    <xsd:attribute name="radioCallSignType" type="ptns:rcsType" use="required"/>
                    <xsd:attribute name="imoLloyds" type="xsd:integer"/>
                    <xsd:attribute name="mmsi" type="xsd:integer"/>
                    <xsd:attribute name="dataSource" type="xsd:string" fixed="Portnet"/>
                    <xsd:attribute name="updateTimeStamp" type="xsd:dateTime" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RegistrationData">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="nationality" type="xsd:string" use="required"/>
                    <xsd:attribute name="portOfRegistry" type="xsd:string"/>
                    <xsd:attribute name="domicile" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConstructionData">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="vesselTypeCode" type="xsd:integer" use="required"/>
                    <xsd:attribute name="vesselTypeName" type="xsd:string" use="required"/>
                    <xsd:attribute name="iceClassCode" type="ptns:iceClassCde" use="required"/>
                    <xsd:attribute name="iceClassIssueDate" type="xsd:date"/>
                    <xsd:attribute name="iceClassIssuePlace" type="xsd:string"/>
                    <xsd:attribute name="iceClassEndDate" type="xsd:date"/>
                    <xsd:attribute name="classificationSociety" type="xsd:string"/>
                    <xsd:attribute name="doubleBottom" type="xsd:boolean"/>
                    <xsd:attribute name="inertGasSystem" type="xsd:boolean"/>
                    <xsd:attribute name="ballastTank" type="xsd:boolean"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Dimensions">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="tonnageCertificateIssuer" type="xsd:string"/>
                    <xsd:attribute name="dateOfIssue" type="xsd:date"/>
                    <xsd:attribute name="grossTonnage" type="xsd:integer" use="required"/>
                    <xsd:attribute name="netTonnage" type="xsd:integer" use="required"/>
                    <xsd:attribute name="deathWeight" type="xsd:integer"/>
                    <xsd:attribute name="length" type="xsd:decimal"/>
                    <xsd:attribute name="overallLength" type="xsd:decimal"/>
                    <xsd:attribute name="height" type="xsd:decimal"/>
                    <xsd:attribute name="breadth" type="xsd:decimal"/>
                    <xsd:attribute name="draught" type="xsd:decimal"/>
                    <xsd:attribute name="maxSpeed" type="xsd:decimal"/>
                    <xsd:attribute name="enginePower" type="xsd:string"/>
                    <xsd:attribute name="totalPower" type="xsd:integer"/>
                    <xsd:attribute name="maxPersons" type="xsd:integer"/>
                    <xsd:attribute name="maxPassengers" type="xsd:integer"/>
                    <xsd:attribute name="keelDate" type="xsd:date"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="System">
                <xsd:complexType>
                    <xsd:sequence/>
                    <xsd:attribute name="shipOwner" type="xsd:string"/>
                    <xsd:attribute name="shipTelephone1" type="xsd:string"/>
                    <xsd:attribute name="shipTelephone2" type="xsd:string"/>
                    <xsd:attribute name="shipFax" type="xsd:string"/>
                    <xsd:attribute name="shipEmail" type="xsd:string"/>
                    <xsd:attribute name="shipVerifier" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VesselList">
        <xsd:sequence>
            <xsd:element name="Header" type="ptns:Header"/>
            <xsd:element name="VesselDetails"
                         type="ptns:VesselDetails"
                         minOccurs="0"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ConstructionData">
        <xsd:complexType>
            <xsd:sequence/>
            <xsd:attribute name="vesselTypeCode" type="xsd:integer" use="required"/>
            <xsd:attribute name="vesselTypeName" type="xsd:string" use="required"/>
            <xsd:attribute name="iceClassCode" type="ptns:iceClassCde" use="required"/>
            <xsd:attribute name="iceClassIssueDate" type="xsd:date"/>
            <xsd:attribute name="iceClassIssuePlace" type="xsd:string"/>
            <xsd:attribute name="iceClassEndDate" type="xsd:date"/>
            <xsd:attribute name="classificationSociety" type="xsd:string"/>
            <xsd:attribute name="doubleBottom" type="xsd:boolean"/>
            <xsd:attribute name="inertGasSystem" type="xsd:boolean"/>
            <xsd:attribute name="ballastTank" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RegistrationData">
        <xsd:complexType>
            <xsd:sequence/>
            <xsd:attribute name="nationality" type="xsd:string" use="required"/>
            <xsd:attribute name="portOfRegistry" type="xsd:string"/>
            <xsd:attribute name="domicile" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IdentificationData">
        <xsd:complexType>
            <xsd:sequence/>
            <xsd:attribute name="vesselId" type="xsd:integer" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="namePrefix" type="xsd:string"/>
            <xsd:attribute name="radioCallSign" type="xsd:string" use="required"/>
            <xsd:attribute name="radioCallSignType" type="ptns:rcsType" use="required"/>
            <xsd:attribute name="imoLloyds" type="xsd:integer"/>
            <xsd:attribute name="mmsi" type="xsd:integer"/>
            <xsd:attribute name="dataSource" type="xsd:string" fixed="Portnet"/>
            <xsd:attribute name="updateTimeStamp" type="xsd:dateTime" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Header" type="ptns:Header"/>
    <xsd:element name="Dimensions">
        <xsd:complexType>
            <xsd:sequence/>
            <xsd:attribute name="tonnageCertificateIssuer" type="xsd:string"/>
            <xsd:attribute name="dateOfIssue" type="xsd:date"/>
            <xsd:attribute name="grossTonnage" type="xsd:integer" use="required"/>
            <xsd:attribute name="netTonnage" type="xsd:integer" use="required"/>
            <xsd:attribute name="deathWeight" type="xsd:integer"/>
            <xsd:attribute name="length" type="xsd:decimal"/>
            <xsd:attribute name="overallLength" type="xsd:decimal"/>
            <xsd:attribute name="height" type="xsd:decimal"/>
            <xsd:attribute name="breadth" type="xsd:decimal"/>
            <xsd:attribute name="draught" type="xsd:decimal"/>
            <xsd:attribute name="maxSpeed" type="xsd:decimal"/>
            <xsd:attribute name="enginePower" type="xsd:string"/>
            <xsd:attribute name="totalPower" type="xsd:integer"/>
            <xsd:attribute name="maxPersons" type="xsd:integer"/>
            <xsd:attribute name="maxPassengers" type="xsd:integer"/>
            <xsd:attribute name="keelDate" type="xsd:date"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="VesselDetails" type="ptns:VesselDetails"/>
    <xsd:element name="VesselListRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="fromDte" type="xsd:date"/>
                <xsd:element name="fromTme" type="xsd:time" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="System">
        <xsd:complexType>
            <xsd:sequence/>
            <xsd:attribute name="shipOwner" type="xsd:string"/>
            <xsd:attribute name="shipTelephone1" type="xsd:string"/>
            <xsd:attribute name="shipTelephone2" type="xsd:string"/>
            <xsd:attribute name="shipFax" type="xsd:string"/>
            <xsd:attribute name="shipEmail" type="xsd:string"/>
            <xsd:attribute name="shipVerifier" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="rcsType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="real"/>
            <xsd:enumeration value="fake"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="iceClassCde">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IAS"/>
            <xsd:enumeration value="IA"/>
            <xsd:enumeration value="IB"/>
            <xsd:enumeration value="IC"/>
            <xsd:enumeration value="II"/>
            <xsd:enumeration value="III"/>
            <xsd:enumeration value="Unknown"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FI"/>
            <xsd:enumeration value="SE"/>
            <xsd:enumeration value="EN"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>