src/main/resources/portnet/vesseldetails/VesselDetails.xsd

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. -->
<xsd:schema  xmlns:ns1="http://portnet.fi/PortnetWS/PortnetTypes"
             xmlns:ns0="http://portnet.fi/VesselDetails"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://portnet.fi/VesselDetails">
    <xsd:import schemaLocation="./PortnetTypes.xsd"
                namespace="http://portnet.fi/PortnetWS/PortnetTypes"/>
    <xsd:complexType name="getVesselList">
        <xsd:sequence>
            <xsd:element ref="ns1:VesselListRequest" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getVesselListResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns1:VesselList" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getVesselList" type="ns0:getVesselList"/>
    <xsd:element name="getVesselListResponse" type="ns0:getVesselListResponse"/>
    <xsd:element name="VesselList" type="ns1:VesselList"/>
</xsd:schema>